
.body{
    background-image :url("Images/bg_img.jpeg");
    
}
p{
    display: block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}
@font-face { font-family: Jumpman; src: url('Jumpman.ttf') format('truetype'); } 
        a {
           font-family: Jumpman
        }
