a{
    font-family: "Jumpman.ttf";
}
.body{
    background-image :url("Images/bg_img.jpeg");
    
}
p{
    display: block;
}
@font-face { font-family: Jumpman; src: url('Jumpman.ttf') format('truetype'); } 
        a {
           font-family: Jumpman
        }