
.body{
    background-image :url("Images/bg_img.jpeg");
    
}
p{
    display: block;
    font-family: 'Lemon', cursive;

}
a {
    font-family: 'Jumpman', sans-serif;
                                                
}
